* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #3C2297;
    /* background-image: url(public/background.jpg); */
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bg-blur{
    padding: 30px;
    border: 5px solid #fff;
    background-color: transparent;
    backdrop-filter: blur(10px);

}

.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;

}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1 {
    font-size: 60px;
    font-weight: 600;
}

.content h1 span {
    color: #FEC069
}

.content button{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button img{
    width: 15px;
    margin-left: 10px;

}

.launch-time{
    display: flex;
    justify-content: center;
}

.launch-time div{
    flex-basis: 100px;
    text-align: center;
}

.launch-time div p {
    font-size: 80px;
    margin-bottom: -14px;

}

.timer{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: timer 4s linear infinite;
}

@keyframes timer {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 850px;
        opacity: 1;
    }
    
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: url(public/wave_amarelo.png);
    background-size: 1000px 100px;
}

section .wave img {
    width: 100%; /* Garante que a imagem da onda ocupe toda a largura da seção */
    height: auto; /* Mantém a proporção original da imagem */
    display: block; /* Remove qualquer espaçamento indesejado ao redor da imagem */
}

section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4{
    animation: animate4 5s linear infinite;
    z-index: 995;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 1000px;
    }
    
}




@keyframes animate2 {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: -1000px;
    }
    
}
